<br/>
</br/>

<div class="ui middle aligned center aligned grid three columns">
  <div class="fice wide column">
      <h2>Simule sua ligação</h2>
      <div class="ui huge primary button"><%= link_to 'Nova ligação', new_call_path %> <i class="right arrow icon"></i></div>
    </div>
  </div>
</div>

